@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
.wrap {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	grid-template-rows: repeat(4, 120px);
}
.post {
	padding: 20px;
	text-align: center;
	border: 1px solid #777;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pages {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.page {
	border: 1px solid pink;
	width: 20px;
	height: 20px;
	padding: 4px;
	border-radius: 4px;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}



