@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

.container {
	padding: 20px calc(50% - 500px);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}


